* {
  margin: 0; }

body {
  font-family: 'roboto'; }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.color-primary {
  color: #9356dc; }

.dark-gray {
  color: #7a7a7a; }

.light-gray {
  color: #f7f7f7; }

.bkg-light-gray {
  background-color: #f7f7f7; }

.bkg-light-black {
  background-color: #353535; }

.white {
  color: white; }

.text-title {
  font-size: 180%; }

.text-large {
  font-size: 145%; }

.text {
  font-size: 130%; }

.max-width {
  max-width: 350px; }

.logo-font {
  font-family: shrikhand; }

.button {
  min-width: 230px;
  box-shadow: 0 6px 15px -8px black;
  background: #9356dc;
  background: linear-gradient(355deg, #9356dc, #FF79DA);
  padding: 20px;
  color: #f7f7f7;
  border-radius: 30px;
  text-align: center;
  text-decoration: none; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 15px 0;
  box-shadow: 0 8px 6px -6px #acacac;
  position: relative; }

.navbar-logo {
  max-width: 180px; }

.back-icon {
  visibility: hidden;
  color: black;
  font-size: 165%; }

.location-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #e9e9e9; }

.spacing-icon {
  padding-right: 20px; }

.spacing {
  padding: 40px 20px 60px 20px; }

.bottom-spacing {
  padding: 0 0 35px 0; }

.spacing-top {
  padding: 25px; }

.info-list {
  list-style: none;
  counter-reset: number;
  margin-top: -30px; }

.info-list li {
  counter-increment: number;
  background-color: #f7f7f7;
  max-width: 295px;
  padding: 25px 15px 25px 40px;
  margin-bottom: 30px;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 3px 6px 20px -6px silver; }

.info-list li:before {
  content: counter(number);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80%;
  margin-left: -52px;
  margin-right: 25px;
  width: 30px;
  height: 30px;
  background-color: #9356dc;
  border-radius: 50%; }

.info-list i {
  font-size: 120%; }

.info-list .active {
  background-color: #f2eafb; }

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 7px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 2px #cacaca;
  border: hidden;
  margin-top: 25px;
  width: 100%;
  height: 250px; }

.restaurant-img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.card-text {
  padding: 18px; }

.tag {
  display: flex;
  justify-content: end;
  align-items: start; }

.card-tag {
  position: absolute;
  display: flex;
  background-color: #99e2d0;
  color: #139273;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border-radius: 2px;
  margin: 12px; }
