.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
    max-width: 1080px;

}

.card-group .card {
    min-width: 350px;
    flex: 1 1 0;
}


.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 7px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px #cacaca;
    border: hidden;
    height: 250px;
    position: relative;
}

.stretch-link:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

.restaurant-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 300px;
}

.card-text {
    padding: 18px;
}

.card-text .column {
    width: 50%;
  }

.card-tag {
    position: absolute;
    background-color: #99e2d0;
    color: #139273;
    right: 15px;
    border-radius: 2px;
    margin: 12px;
    padding: 7px 30px;
}

.z-1 {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border-style: hidden;
  }

.card-icon {
    left: 135px;
}


.solid-icon {
    position: absolute;
    opacity: 0;
    transition: opacity 300ms;
    background: $color-secondary;
    background: linear-gradient(355deg, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.solid-icon:hover {
    opacity: 1;
}


@media (min-width: 770px) {

    .card {
        height: 300px;
    }

    .card-group {
        gap: 40px;
        justify-content: center;
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: xx-large;
        }

        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }
}