.how-work li {
    background-color: $light-gray;
    max-width: 295px;
    padding: 25px 15px 25px 40px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 6px 20px -6px rgb(192, 192, 192);
}

.how-work li::marker {
    background-color: aqua;
}

.how-work i {
    font-size: 120%;
}

.how-work {
    margin-top: -30px;
}

.how-work li:last-child {
    background-color: rgba(147, 86, 220, 0.1);
}   

