.info-list {
    list-style: none;
    counter-reset: number;
    margin-top: -30px;
}

.info-list li {
    counter-increment: number;
    background-color: $light-gray;
    max-width: 100%;
    padding: 25px 15px 25px 40px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 6px 20px -6px rgb(192, 192, 192);
}

.info-list li:before {
    content: counter(number);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80%;
    margin-left: -52px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
    background-color: $color-primary;
    border-radius: 50%;
}

.info-list i {
    font-size: 120%;
}

.info-list .active {
    background-color: lighten($color-primary, 35);
}