.menu {
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -60px;
}

.menu-title {
    justify-content: center;
}

.flex-title {
    flex-basis: 340px;
}

.title-icon {
    padding-top: 10px;
 }

.line {
    content: '';
    width: 50px;
    height: 3px;
    background-color: $light-green;
    margin-top: 3px;
}

.dishes {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 12px 0px rgb(230, 230, 230);
    position: relative;
	overflow: hidden;
	cursor: pointer;
	display: flex;
    margin: 15px 0;
}


.ellipsis {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.dishes p {
    font-size: 130%;
    color: $graphite;
}

.double {
    width: 100%;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    align-items: end;
    padding: 15px 20px ;
}

.dish-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 185%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $light-green;
    color: white;
    width: 0;
}

.dishes:hover .dish-icon {
    transition: 0.7s;
    width: 100px;
    i{
        transform: rotate(360deg);
        transition: 0.7s;
    }
}



// // //  FADE & LOAD  // // //

.menu--fade {
	animation-name: menu-fade;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
}

.menu--fade-1 {
	animation-delay: 0.1s;
}
.menu--fade-2 {
	animation-delay: 0.2s;
}
.menu--fade-3 {
	animation-delay: 0.3s;
}

@keyframes menu-fade {
  0% {
    opacity: 0;
		transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
		transform: translate(0);
  }
}


// // // desktop // // //

@media (min-width: 770px) {
    .menu-dishes {
        flex: 0 0 auto;
        width: 33.333%;
        padding: 0 15px;
    }

    .menu-title {
        padding: 10px 50px;
        flex-basis: 1250px;
    }
}