.navbar {
    padding: 25px 0 15px 0;
    width: 100%;
}

.navbar-shadow {
    box-shadow: 0 8px 6px -6px #acacac;
}

.navbar-logo {
    max-width: 180px;
}

.back-icon {
    text-align: center;
    width: 40px;
    margin: 0 66px 0 12px;
    color: lighten(black, 25%);
    font-size: 165%;
}

