.navbar {
    padding: 25px 0 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-shadow {
    box-shadow: 0 8px 6px -6px #acacac;
}

.navbar-logo {
    max-width: 180px;
}

.back-icon {
    position: absolute;
    left: 0;
    width: 40px;
    color: lighten(black, 25%);
    font-size: 165%;
    left: 25px;
}

