.spacing-icon {
    padding-right: 20px;
}

.short-spacing-icon {
    padding-right: 10px;
}

.spacing {
    padding: 40px 20px 60px 20px;
}

.bottom-spacing {
    padding: 0 0 35px 0;
}

.spacing-top {
    padding-top: 25px;
}


@media (min-width: 770px) {
    .desktop-bottom-spc {
        padding-bottom: 65px;
    }
}