* {
    margin: 0;
}
 body {
    font-family: 'roboto';
 }

 a {
    text-decoration: none;
 }

 a {
    color: inherit;
 }

 a:visited {
    color: none;
 }


// // // flex // // //

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.small-gap {
    gap: 10px;
}

// // // colors // // //

.color-primary {
    color: $color-primary;
}

.dark-gray {
    color: $dark-gray;
}

.light-gray {
    color: $light-gray;
}

.bkg-light-gray {
    background-color: $light-gray;
}

.bkg-light-black {
    background-color: #353535;
}

.white {
    color: white;
}

// // // text  // // //

.text-title {
    font-size: 180%;
}

.text-large {
    font-size: 145%;
}

.text {
    font-size: 125%;
}

.text-center {
    text-align: center;
}

// // // icon  // // //

.xl-icon {
    font-size: 250%;
}

.s-icon {
    font-size: 85%;
}

.xs-icon {
    font-size: 70%;
}

.logo-font {
    font-family: shrikhand;
}



// // // width // // //

.max-width {
    max-width: 350px;
}

.small-width {
    width: 25px;
}

// // // border // // //

.round-border {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}